.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.container-inside-product{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}

.container-inside-product a{
  text-align: center;
  margin-bottom: 1rem;
}

 .product-text{
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
 }
 

 .product-text span{
  font-size: 2.2rem;
 }

.arrow-icon{
  /* position: absolute; */
  left: 50%;
  top: 15%;
  bottom: 0;
}
.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
 .table {
    width: 47%;
    border-collapse: collapse;
    white-space: nowrap;
    margin: auto;
    overflow-x: auto;
  }
  
  .table thead{
    background-color: #ccc;
    color: #222;
  }

  .table th, td {
    border-top: 0.5px solid #ddd;
    padding: 0.8rem;
    text-align: left;
    width: 2rem;
    word-wrap: break-word;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }

  .table tbody tr:hover{
    background-color: #eee;
  }

  
  .add-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-edit-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-edit-section h2 {
    margin-top: 0;
  }
  
  .add-edit-section input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .actions{
    display: flex;
    justify-content: space-around;
  }

  .actions svg{
    cursor: pointer;
  }
  
  .delete-product-btn{
    color: #f44336;
  }